*{
    margin: 0;
    left: 0;
    font-family: Verdana, sans-serif;
}
body{
      background: linear-gradient(to right, #ff00e4 0%, #2a00ff);
      background-size: 200% 100%;
      animation: mozgas 5s linear infinite alternate;
  }
  @keyframes mozgas {
    0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
  }
nav{
    padding-bottom: 20vh;
}
.conth{
    padding-top: 10px;
    height: 10vh;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-left: 150px;
    margin-right: 150px;
}
.cont{
    height: auto;
    background-image: url(back_linear.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.conth img{
    border: 2px solid #282b30;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.conth i{
    display: none;
}
.conth a{
    color: aliceblue;
    font-size: 13px;
    padding: 15px 35px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #7289da;
}
.conth a:hover{
    background: none;
    padding: 13px 33px;
    border: 2px solid aliceblue;
}
.topcont{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 30%;
    margin-right: 30%;
    height: 400px;
    background-color:  #282b30;
    border-radius: 30px;
}
.logo{
    padding-top: 50px;
}
.topcont img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #2ecc71;
    padding: 5px 5px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}
.topcont .title{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topcont h1{
    color: aliceblue;
    font-size: 25px;
}
.topcont h2{
    color: aliceblue;
    margin-left: 10px;
    font-size: 15px;
}
.offon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offon a{
    text-align: center;
    color: #2ecc71;
    margin-left: 15px
}
.offon h1{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: 	#73787e;
    font-size: 18px;
    margin-left: 40px;
}
.countdown {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    height: 230px;
    border-radius: 36px;
    background-color:  #282b30;
    border: 4px solid  rgba(255,0,228,1);
    border-radius: 30px;
  }
.cback{
    margin-top: 5px;
    margin-left: 4px;
    margin-right: 5px;
    position: relative;
    height: 190px;
    width: auto;
    background-color:  #282b30;
    border-radius: 30px;
}
.countdown h2{
    background-color: #ff00e4 ;
    width: 120px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    color: white;
    position: relative;
    top: -12px;
    font-size: 18px;
}
.countdown h1{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.countdown h3{
    text-align: center;
    color: #828a9b;
    font-size: 15px;
}
.time{
    color: white;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-left: 14%;
    margin-right: 14%;
}
.time div{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    height: 70px;
    width: 80px;
    background-color:  #31343a;
    border-radius: 10px;
}
.time p{
    margin-top: 13px;
}
.restartmess{
    margin-top: 50px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 30%;
    margin-right: 30%;
    background-color:  #282b30;
    border-radius: 30px;
    bottom: 150px;
}
.profile{
    padding-left: 50px;
    padding-top: 30px;
    display: flex;
}
.profile img{
    border: 2px solid gray;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.profile h1{
    padding-left: 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 217, 0, 0.692);
}
.profile p{
    font-size: 12px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: gray;
}
.mess{
    padding-bottom: 50px;
}
.mess h2{
    padding-left: 50px;
    color: white;
    padding-top: 30px;
}
.mess p{
    padding-left: 50px;
    color: white;
    padding-top: 5px;
    text-align: justify;
    margin-right: 50px;
}
.mess img{
    margin-top: 50px;
    max-width: 80%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.bottom{
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 10%;
}
.bottom i{
    color: white;
    font-size: 30px;
}
.bottom h1{
    font-size: 20px;
    color: white;
}
.bottom div a{
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    text-align: center;
    display: block;
}
.bottom a{
    color: blue;
}
@media (min-width: 320px) and (max-width: 1200px) {
    .conth{
        margin-left: 15%;
        margin-right: 15%;
    }
    .topcont{
        margin-top: 50px;
        margin-left: 15%;
        margin-right: 15%;
        height: 400px;
    }
    .countdown{
        height: 200px;
        margin-left: 15%;
        margin-right: 15%;
    }
    .restartmess{
        margin-left: 15%;
        margin-right: 15%;
    }
    .time{
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (min-width: 320px) and (max-width: 600px) {
    .conth{
        margin-left: 20px;
        margin-right: 20px;
    }
    .conth img{
        height: 50px;
        width: 50px;
    }
    .conth i{
        text-align: center;
        display: block;
        font-size: 20px;
    }
    .conth h1{
        display: none;
    }
    .conth a{
        padding: 15px 17px;
    }
    .conth a:hover{
        padding: 13px 15px;
    }
    .topcont{
        margin-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        height: 330px;
    }
    .topcont img{
        border: 2px solid #2ecc71;
        height: 100px;
        width: 100px;
    }
    .topcont .title{
        padding-top: 50px;
    }
    .topcont h1{
        font-size: 20px;
    }
    .topcont h2{
        font-size: 13px;
    }
    .offon a{
        font-size: 15px; 
    }
    .offon h1{
        font-size: 14px;
    }
    .countdown{
        height: 200px;
        margin-left: 5%;
        margin-right: 5%;
    }
    .time{
        margin-left: 10%;
        margin-right: 10%;
    }
    .time div{
        width: 55px;
        height: 60px;
    }
    .time p{
        margin-top: 9px;
    }
    .time span{
        font-size: 12px;
    }
    .restartmess{
        margin-left: 5%;
        margin-right: 5%;
    }
    .profile{
        padding-left: 25px;
        padding-top: 25px;
    }
    .profile img{
        height: 35px;
        width: 35px;
    }
    .profile h1{
        font-size: 18px;
    }
    .profile p{
        font-size: 10px;
    }
    .mess h2{
        padding-left: 25px;
        font-size: 17px;
    }
    .mess p{
        padding-left: 25px;
        font-size: 15px;
        margin-right: 25px
    }
    .bottom{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        height: 30vh;
    }
    .bottom div{
           margin-top: 30px;
    }
    .bottom h1{
      margin-top: 30px;
      font-size: 15px;
    }
}