*{
    margin: 0;
    left: 0;
    font-family: Verdana, sans-serif;
}
.backr{
    background-image: url(backround.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
}
  @keyframes mozgas {
    0% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
  }
nav{
    padding-bottom: 20vh;
}
/*--------------------------------TopHeader-------------------------------*/

.conth{
    padding-top: 10px;
    height: 10vh;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-left: 150px;
    margin-right: 150px;
}
.cont{
    height: auto;
    background-image: url(back_linear.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
}
.conth img{
    border: 2px solid #282b30;
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.conth i{
    display: none;
}
.conth a{
    color: aliceblue;
    font-size: 13px;
    padding: 15px 35px;
    border-radius: 20px;
    text-decoration: none;
    background-color: #7289da;
}
.conth a:hover{
    background: none;
    padding: 13px 33px;
    border: 2px solid aliceblue;
}

.infos{
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin-left: 250px;
    margin-right: 250px;
    background-color:  #282b30;
    border-radius: 30px;
}

/*--------------------------------AskAgain-------------------------------*/

.ask{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color: #ffff;
}
.ask h1{
    padding: 100px;
    font-size: 45px;
}
.asks h4{
    padding-top: 20px;
    font-size: 20px;
}
.ask h5{
    padding-top: 3px;
    color: #a0a0a0;
}

/*--------------------------------LevelUp-------------------------------*/

.levelup{
    margin-left: 150px;
    margin-right: 150px;
    color: #ffff;
    margin-top: 100px;
    text-align: center;
}
.levelup h1{
    padding: 50px;
    font-size: 30px;
}
.levelup h2{
    padding: 20px;
}
.levelup p{
    padding: 10px;
}
.levelup i{
    background-color: #434850;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}
.lvlup img{
    width: 50%;
    height: auto;
}

/*--------------------------------LevelUpInfo-------------------------------*/

.lvlupinfo{
    margin-left: 150px;
    margin-right: 150px;
    color: #ffff;
    margin-top: 100px;
    text-align: center;
}
.lvlupinfo h2{
    padding: 20px;
}
.lvlupinfo h3{
    padding: 10px;
}
.lvlupinfo p{
    color: rgb(219, 219, 219);
    padding: 10px;
}
.lvelupinfo span{
    color: #ffff;
}

/*--------------------------------Howlvl-------------------------------*/

.howlvl{
    margin-left: 150px;
    margin-right: 150px;
    color: #ffff;
    margin-top: 100px;
    text-align: center;
}
.howlvl h2{
    padding-top: 40px;
    padding-bottom: 20px;
}
.howlvl p{
    color: rgb(219, 219, 219);
    padding: 10px;
}
/*--------------------------------Helping-------------------------------*/

.helping{
    margin-left: 150px;
    margin-right: 150px;
    color: #ffff;
    margin-top: 100px;
    text-align: center;
}
.helping h1{
    padding: 20px;
}
.helping p{
    color: rgb(219, 219, 219);
    padding: 10px;
}
.helping i{
    background-color: #434850;
    padding: 10px;
    border-radius: 10px;
    margin-right: 20px;
}

/*--------------------------------Warn------------------------------*/

.warn{
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    color: #ffff;
}
.warn h1{
    padding-top: 50px;
}
.warn p{
    padding-top: 20px;
    padding-bottom: 100px;
}
/*--------------------------------Bottom-------------------------------*/

.bottom{
    height: 20vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 10%;
}
.bottom i{
    color: white;
    font-size: 30px;
}
.bottom h1{
    font-size: 20px;
    color: white;
}
.bottom div a{
    margin-top: 20px;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
    text-align: center;
    display: block;
}
.bottom a{
    color: blue;
}
.bottom h5{
    color: black;
    background-color:#ffff;
    width: 100px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 1200px) {
    .conth{
        margin-left: 15%;
        margin-right: 15%;
    }
    .infos{
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 30px;
    }
    .ask h1{
        padding: 70px;
      font-size: 30px;
    }
    .lvlup img{
        width: 80%;
        height: auto;
    }.levelup h2{
        font-size: 20px;
    }
    .helping h2{
        font-size: 20px;
    }
}
@media (min-width: 320px) and (max-width: 900px) {
    .conth{
        margin-left: 20px;
        margin-right: 20px;
    }
    .conth img{
        height: 50px;
        width: 50px;
    }
    .conth i{
        text-align: center;
        display: block;
        font-size: 20px;
    }
    .conth h4{
        display: none;
    }
    .conth a{
        padding: 15px 17px;
    }
    .conth a:hover{
        padding: 13px 15px;
    }
    .maintitle h1{
        font-size: 20px;
    }
    .infos{
        margin-left: 20px;
        margin-right: 20px;
    }
    .ask{
        margin-left: 50px;
        margin-right: 50px;
    }
    .ask h1{
        padding: 50px;
        font-size: 25px;
    }
    .asks h4{
        padding-top: 20px;
        font-size: 16px;
    }
    .ask h5{
        font-size: 12px;
        padding-top: 3px;
        color: #a0a0a0;
    }


    .levelup{
        margin-left: 20px;
        margin-right: 20px;
    }
    .levelup h1{
        padding: 30px;
        font-size: 25px;
    }
    .levelup h2{
        padding: 10px;
        font-size: 17px;
    }
    .levelup p{
        padding: 10px;
        font-size: 15px;
    }
    .levelup i{
        background-color: #434850;
        padding: 7px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 15px;
    }
    .lvlup img{
        width: 100%;
        height: auto;
    }




    .lvlupinfo{
        margin-left: 20px;
        margin-right: 20px;
    }
    .lvlupinfo h2{
        padding: 20px;
        font-size: 20px;
    }
    .lvlupinfo h3{
        padding: 10px;
        font-size: 18px;
    }
    .lvlupinfo p{
        padding: 5px;
        font-size: 15px;
    }
    .helping{
        margin-left: 50px;
        margin-right: 50px;
    }
    .helping h1{
        padding: 20px;
        font-size: 20px;
    }
    .helping h2{
        font-size: 17px;
    }
    .helping p{
        padding: 10px;
        font-size: 15px;
    }
    .helping i{
        background-color: #434850;
        padding: 7px;
        border-radius: 10px;
        margin-right: 10px;
        font-size: 15px;
    }


    .warn{
        margin-left: 20px;
        margin-right: 20px;
    }



    .bottom{
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        height: auto;
    }
    .inf{
        padding: 20px;
    }
    .bottom h1{
      padding: 30px; 
    }
}